*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(216, 213, 213);
}
header{
    background-color: #fbb600;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #fdfdfd;
    text-decoration: none;
}
/* caso queira um menu lateral deixe o flex-direction colum, caso queira menu horizontal flex-direction row */
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    
}
a{
    border-left-style: groove;
    border-color: rgba(141, 92, 1, 0.26);
}
ul a{
    width: 200px;
    height: 65px;

    background-color: #fbb600;
    list-style: none;
    
    border-radius: 10px 10px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: height 1s;
    transition-delay: 0.2s;
}
ul a:hover{
    background-color: #f99200;
    background-position: right;
    height: 80px;
}

#home .home,
#sobre .sobre, 
#servicos .servicos,
#noticias .noticias,
#contatos .contatos{
    background-color: #f99200;
    background-position: right;
}

main{
    width: 50%;
    margin: 30px auto;
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 1px 1px 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.315);
}