body{
    background: #f4f2ec url(../img/fundo.png) repeat-x;
    font: 12px "Lucinda Grande", "Lucinda Sans Unicode", "Arial", sans-serif;
}
#conteiner{
    width: 1080px;
    margin: 0 auto;
}
a{
    color: #af670a;
    text-decoration: none;
}
a:hover{
    color: #227115;
}
/* Logo 
 ------------------------------------------- */
#logo a{
    display: block;
    text-indent: -9999px;
    width: 248px;
    height: 21px;
    background: url(../img/logo.png) no-repeat;
}
/* Barra de Navegação
 ------------------------------------------- */
header{
    padding: 15px 0;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main{
    margin-bottom: 20px;
}
nav ul{
    display: flex;
    justify-content: end;
    margin: 20px;
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 0 0 0 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}
nav ul li a:hover{
    border-bottom: 1px solid #535858;
}

/* Principal
 ------------------------------------------- */
 article{
    width: 710px;
    float: left;
    margin-bottom: 20px;
 }
 aside{
    width: 350px;
    float: right;
    background: #ebe7bb;
    padding-bottom: 30px;
 }
h3{
    color: #15460d;
    font-weight: bold;
    text-transform: uppercase;
}
.postagens{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.postagens article{
    margin-left: 30px;
    text-align: justify;
    line-height: 1.2em;    
}




 /* Lateral
  ------------------------------------------- */
 section#visita{
    background: #ccb9a0;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
 }
 section h4{
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
 }

 input{
    width: 90%;
    height: 20px;
    background: #fff;
    border: none; 
    margin: 0px 10px;
 }
 form > input{
    height: 40px;
    background-color: #665340;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 5px;
 }
 fieldset{
    border: none;
    padding: 10px;

    display: flex;
 }

#galeria{
    padding: 10px;
}
#galeria a{
    display: block;
    background: url(../img/fundo-foto.png) no-repeat;
    float: left;
    padding: 15px;
    margin: 15px;
}
#galeria a img{
    margin: 3px 4px 0px 1px;
}
footer{
    clear: both;
    background: url(../img/fundo-rodape.png) no-repeat top center;
    margin: auto;
    padding: 20px 0 30px 0;
    font-weight: bold;
    text-align: center;
}
footer a{
    padding: 10px 20px;
}