@charset "UTF-08";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #0CF25D,#038C3E);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #024b22cc;
    width: 600px;
    padding: 10px;
    margin: auto
}
h1{
    color: #034159;
    text-align: center;
    text-shadow: 2px 2px 1px #033f5888;
}
h2{
    color: #025951;
}
p{
    text-align: justify;
}